@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background-body: #000;
  --text-main: #fff;
  --text-secondary: #6b6f72;
  --primary-color: #548e9b;
  --dark-background-body: #202122;
}

::selection {
  background-color: var(--primary-color); /* Primary color */
  color: var(--text-main); /* Primary light mode text color */
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  background-color: var(
    --primary-color
  ); /* Use the variable to set the color */
  border-radius: 50%; /* Make it round */
  cursor: pointer;
}

body {
  background-color: var(--dark-background-body);
}

@layer components {
  .navlink {
    @apply relative block min-w-[70px] px-[5px] py-2.5 text-center text-inherit no-underline before:absolute before:left-0 before:bottom-0 before:h-0.5 before:w-full before:scale-x-0 before:bg-text-secondary before:transition-transform before:duration-[0.3s] before:ease-[ease] before:content-[''] md:ml-5 hover:before:md:scale-x-100 [&:not(.selected)]:opacity-70 hover:[&:not(.selected)]:text-primary-color;
  }

  .selected {
    @apply before:bg-primary-color before:md:scale-x-100 max-w-4 md:text-primary-color font-bold;
  }
}
